*.o
*.ko
*.mod
*.mod.*
*.order
*.symvers
*.d
*.elf
*.bin
*.img
*.iso
*.dtb
*.map


letters
*.out
*.exe
*.axf


linux-*/
busybox-*/


rootfs/
rootfs.img
/tmp/*-mnt



*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.zip



*.log
*.swp
*.swo
*.tmp
*.bak
*.old
*.DS_Store


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


Makefile~
*.mk~
build/
obj/
*.dep


.env
.cache/
__pycache__/
*.pyc


*.tar.gz
!README.md
!README.txt
